.headerPage {
    color: rgb(253, 253, 253);
    text-align: center;
    background-color: #0052a5;
    padding: 12px;
    width: 100%;
    font-family: Reznik;
    letter-spacing: 3px;
}

.background {
    background-color: white;
    position: relative;
    padding-bottom: 50px;
}

.karta {
    width: 190px;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


.null {
    width: 140px;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 10px;
    display: none;
}

.testPadding {
    padding-left: 20px;
    padding-right: 20px;
}

.CardText {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 17px;
}

.con {
    position: relative;
    height: 190px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 15px;
    background-image: linear-gradient(to left, rgb(58, 238, 58), rgb(109, 230, 109), rgb(150, 235, 150), rgb(197, 235, 197), rgb(245, 219, 219), rgb(240, 124, 124), rgb(235, 70, 70), red);
}

.testTitle {
    font-size: 45px;
    color: rgb(32, 52, 240);
    font-weight: 500;
    margin: 0;
}

.testText {
    font-size: 20px;
    color: rgb(51, 70, 238);
    font-weight: 500;
    margin: 0;
}

.button3 {
    background-color: #1178d1;
    border: 1px solid #1681df;
    border-radius: 12px;
    font-size: 18px;
    color: white;
    transition: 150ms background-color linear;
    width: 140px;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 10px;
}

.button3:hover {
    background-color: #1b8cee;
}

.button3:active {
    background-color: #1178d1;
}

.container_row {
    display: grid;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.testbutton {
    margin: 10px;
}

.faqtext {
    color: rgb(85, 83, 83);
    float: right;
}

.question {
    color: rgb(92, 91, 91);
    font-weight: bold;
}

.weight {
    font-weight: bold;
    color: rgb(53, 52, 52);
}

.mainh1 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 30px;
}

.flexBox {
    display: flex;
    width: 100%;
    justify-content: center;
}

.flexElement {
    padding: 20px;
}

.title {
    margin-bottom: 10px;
    font-size: 22px;
    height: 60px;
    text-align: center;
}

.paragraph {
    color: rgb(38, 0, 255);
    font-size: 40px;
}

.button1 {
    background-color: #4731c2;
    border: 1px solid #4029c2;
    border-radius: 12px;
    padding: 8px;
    color: white;
    transition: 150ms background-color linear;
    width: 120px;
    height: 40px;
    margin-right: 5px;
}

.button2 {
    background-color: rgb(255, 255, 255);
    border: 1px solid #6c757d;
    border-radius: 12px;
    padding: 8px;
    color: rgb(0, 0, 0);
    margin-right: 10px;
    width: 250px;
    height: 40px;
    color: rgb(53, 48, 48);
    transition: 150ms background-color linear;
    opacity: 95%;
}

.button1:hover {
    background-color: #3920cc;
}

.button2:hover {
    background-color: #5b646c;
    color: white;
    border: 1px solid #6c757d;
    opacity: 100%;
}

.button1:active {
    background-color: #5b45d6;
}

.button2:active {
    background-color: #7D868e;
}

.footer {
    background-color: rgb(243, 240, 240);
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
    clear: both;
}

.results {
    text-align: center;
    list-style-position: inside;
}

.footerText {
    color: #2b2c2c;
    font-family: Arial;
    text-align: center;
}

.cen {
    width: 300px;
}

.container {
    margin-top: 30px;
    height: 165px;
}

.img {
    float: left;
    padding: 10px;
    width: 150px;
}

@media only screen and (max-width: 920px) {
    .title {
        margin-bottom: 30px;
    }

    .con {
        width: 600px;
    }
}

@media only screen and (max-width: 660px) {
    .title {
        font-size: 20px;
    }

    .con {
        width: 500px;
    }
}

@media only screen and (max-width: 530px) {
    .mainh1 {
        font-size: 40px;
    }

    .title {
        font-size: 17px;
        margin-bottom: 20px;
    }

    .cen {
        margin-left: auto;
        margin-right: auto;
    }

    .con {
        width: 400px;
    }
}

@media only screen and (max-width: 450px) {
    .mainh1 {
        font-size: 35px;
    }

    .title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .paragraph {
        font-size: 14px;
    }

    .flexElement {
        padding: 10px;
    }

    .testTitle {
        font-size: 30px;
    }

    .testText {
        font-size: 18px;
    }

    .con {
        width: 350px;
    }
}

@media only screen and (max-width: 400px) {
    .flexBox {
        flex-direction: column;
    }

    .title {
        font-size: 23px;
    }

    .paragraph {
        font-size: 18px;
    }

    .mainh1 {
        font-size: 40px;
    }

    .cen {
        width: 250px;
    }
}

@media only screen and (max-width: 350px) {
    .img {
        width: 200px;
    }

    .cen {
        width: 200px;
        margin: 0;
    }

    .img {
        float: none;
    }

    .con {
        width: 100%;
    }
}

@media only screen and (max-width: 280px) {
    .headerPage>h1 {
        font-size: 22px;
    }

    .title {
        margin-bottom: 15px;
        font-size: 20px;
    }



    .cen {
        width: 170px;
    }
}